table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 30px;
}

th {
    background-color: #7e7bc6;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #6cad9f;
}

table {
    table-layout: fixed;
    width: 390px;
}